.container,
.containerRegister {
    min-height: 100vh;
}

.cardLogin,
.formLogin,
.containerRegister {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cardLogin {

    flex-direction: column;

    max-width: 400px;
    padding: 20px;
    margin: 10px auto;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

}

.registerLink {
    color: rgb(0, 115, 150);
    margin-top: 10px;

}

.textFieldContainer {
    width: 300px;
    margin-top: 20px;
}

.formLogin {
    height: 100vh;
}


.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.inputs > div{
    margin-bottom: 10px;
    min-width: 30vw;
}

@media only screen and (max-width: 640px) {

    .formUser {
        width: 90vw;
    }
}

.formUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;

    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

   
    margin: 20px;

}

