.App-header {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);

    padding: 0 10px 0 10px;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
   
}
.App-header span {
    margin-left: 10px;
}

